[submodule "DiscoveryService"]
	path = DiscoveryService
	url = https://github.com/jambamamba/DiscoveryService
[submodule "x265"]
	path = x265
	url = https://github.com/jambamamba/x265.git
[submodule "libde265"]
	path = libde265
	url = https://github.com/jambamamba/libde265.git
